html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: "Nunito Regular";
}

a {
    text-decoration: none;
    color: #fff;
}

/* ========================== start header ======================= */

header {
    background-image: url("../images/headerBG.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.logo-wrapper {

}

.logo-img {

}

.main-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    z-index: 999;
}

.menu-item {
    margin: 0px 25px;
}

.menu-link {

}

.login-btn {
    background-color: #fff;
    color: #93A5FF;
    padding: 10px 15px;
    border-radius: 5px;
    font-family: 'Nunito Bold';
}

.login-btn span {
    margin-left: 10px;
}

.menu-icon {
    font-size: 28px;
    cursor: pointer;
    display: none;
}

/* ====================== Header Content =========================== */

.header-content {
    margin-top: 80px;
}


.header-title {
    font-family: "Roboto";
    font-size: 40px;
}

.header-caption {
    font-size: 21px;
    opacity: 0.8;
}

.domain {

}

.header-txt {
    background-color: #384170;
    color: #fff;
    padding: 14px 15px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-right: 2px;
    max-width: 290px;
    width: 100%;
}

.header-txt::placeholder {
    color: #fff;
}

.header-domains {
    background-color: #384170;
    color: #fff;
    padding: 11px 20px 11px 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.header-btn {
    margin-left: 25px;
    cursor: pointer;
}

.flex-wrapper {
    flex-basis: 380px;
}

/* ================ End Header =============== */

