@media only screen and (max-width: 992px) {
    .menu-icon {
        display: block;
    }

    .main-menu {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -270px;
        background-color: #7381c3;
        width: 270px;
        transition: 0.3s;
    }

    .menu-item {
        margin: 25px 15px !important;
    }

    .login-btn {
        display: block;
        text-align: center;
    }

    .header-btn {
        margin-left: 0;
        margin-top: 15px;
        width: 100%;
    }

    .header-txt {
        max-width: 100%;
    }

    .service-col-1 {
        order: 1;
    }

    .service-col-2 {
        order: 0;
    }

    .services-img {
        margin-bottom: 35px;
    }

    .plans {
        height: auto;
    }
}

@media only screen and (max-width: 768px) {
    .img {
        order: 0;
    }

    .content {
        order: 1;
    }

    .header-content {
        margin-top: 0;
    }

    .plan-bottom {
        height: 239px;
    }

    .plan-top {
        border-top: 8px solid #93a5ff;
    }
}

@media only screen and (max-width: 576px) {
    .header-title {
        font-size: 34px;
    }

    .header-caption {
        font-size: 17px;
    }

    .start-img-fix {
        max-width: 150px;
    }

    .section-title {
        font-size: 25px;
    }

    .section-caption {
        font-size: 17px;
    }

    .comment {
        display: block !important;
        text-align: center;
    }

    .comment-img {
        margin: 16px auto;
    }

    .footer {
        text-align: center;
    }

    .accepts {
        justify-content: center;
    }

    .footer-bottom {
        justify-content: center !important;
    }

    .social {
        justify-content: center !important;
    }
}
